@font-face {
  font-family: 'RuneScape';
  src: url('../fonts/runescape.ttf') format('truetype');
}

:root {
  --color-rs-black: #000000;
  --color-rs-dark-brown: #2c2721;
  --color-rs-light-dark-brown: #3d3429;
  --color-rs-light-brown: #564e43;
  --color-rs-medium-brown: #4a4036;
  --color-rs-yellow: #ffff00;
  --color-rs-orange: #ff9300;
  background-color: var(--color-rs-dark-brown);
}

body {
  background-color: var(--color-rs-dark-brown);
}
