@font-face {
    font-family: 'RuneScape';
    src: url('../fonts/runescape.ttf') format('truetype');
}

@font-face {
    font-family: 'RuneScapeBold';
    src: url('../fonts/runescape_bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RuneScapeSmall';
    src: url('../fonts/runescape_small.ttf') format('truetype');
}

:root {
    --color-rs-black: #000000;
    --color-rs-dark-brown: #2c2721;
    --color-rs-light-dark-brown: #3d3429;
    --color-rs-light-brown: #564e43;
    --color-rs-medium-brown: #4a4036;
    --color-rs-yellow: #ffff00;
    --color-rs-orange: #ff9300;
    background-color: var(--color-rs-dark-brown);
}

body {
    background-color: var(--color-rs-dark-brown);
}

.unset-color-picker {
    background-color: #000;
    background-image:
        linear-gradient(
            45deg,
            magenta 25%,
            transparent 25%,
            transparent 75%,
            magenta 75%,
            magenta
        ),
        linear-gradient(
            -45deg,
            magenta 25%,
            transparent 25%,
            transparent 75%,
            magenta 75%,
            magenta
        );
    background-size: 10px 10px;
    background-repeat: repeat;
}

.preview {
    border: 3px solid #2c2721;
    /* background-color: #564e43;
    background-image:
        linear-gradient(45deg,
            #3d3429 25%,
            transparent 25%,
            transparent 75%,
            #3d3429 75%,
            #3d3429),
        linear-gradient(-45deg,
            #3d3429 25%,
            transparent 25%,
            transparent 75%,
            #3d3429 75%,
            #3d3429);
    background-size: 10px 10px; */
    background-repeat: repeat;
    background-image: url('https://oldschool.runescape.wiki/images/POH_Tropical_Wood_Ground_Textured.png')
}

/* .MuiGrid2-root {
  border: 1px solid red;
} */
