@font-face {
  font-family: 'RuneScape';
  src: url('./fonts/runescape.ttf') format('truetype');
}

:root {
  --color-rs-dark-brown: #2c2721;
}

body {
  background-color: var(--color-rs-dark-brown);
}